#btn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    /*color: #ffffff;*/
    cursor: pointer;
    outline: none;
    blr: expression(this.hideFocus = true);
    border: none;
}