@charset "utf-8";


#captcha1,
#captcha2 {
    width: 10px;
    display: inline-block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#notice1,
#notice2 {
    color: red;
}

label {
    vertical-align: top;
    display: inline-block;
    width: 80px;
    text-align: right;
}

#wait1, #wait2 {
    text-align: left;
    color: #666;
    margin: 0;
}